#PUBLIC
NEXT_PUBLIC_DEFAULT_LOCALE="es | en"

#PRIVATE

API_BASE_URL=""
DATABASE_URL=""

TURSO_DATABASE_URL=""
TURSO_AUTH_TOKEN=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

## SOCIAL LOGIN
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""